<html>
  <head></head>
<body>
        <form action="">
        <div class="fac">
    <h1>Login</h1>
    <br><br>
    <label>Username</label> <br>
    <input type="text" placeholder="Enter your username">
    <br><br>
    <label>Password</label> <br>
    <input type="text" placeholder="Enter your password"> <br><br>
    <a routerLink="/admhome"><button type="submit" id="submit">Login</button></a><br> <br>
<!-- <button type="button" (click)="Adminlogin()" class="login-btn">Login</button>  -->
    <a href="/faculty">Don't have an account?</a>
        </div>
    </form>
    
</body>
</html>
