<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICTAK Website</title>
  <link rel="stylesheet" href="home.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  
    <div class="logo">
      <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/ICT_Academy_Kerala.webp" alt="ICTAK Logo"></a>
    </div>
  
  <main>
    <section class="hero">
      <h1>Welcome to ICTAK Website</h1>
      <h4>Your go-to destination for all things awesome!</h4>
      <p>Unlock Your Potential: Explore, Learn, Grow with ICTAK.</p>
      <p>Empowering learners of all ages with interactive courses and expert guidance.</p>
      <p>Join a community committed to knowledge and success!</p>
      <div class="button">
        <a routerLink="/faclog">
          <input type="button" value="Login">
        </a>
      </div>
    </section>
  </main>
</body>
</html>